html,
body,
button {
	padding: 0;
	margin: 0;
	font-family: "Play", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
	transition: 0.2s;
}

a:hover {
	transform: scale(1.05);
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Play", sans-serif;
	text-shadow: 10px 10px #000000;
}

footer {
	width: 100%;
	background-color: #000000;
	color: #fff;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

footer a {
	padding: 5px;
}
