.headerContainer {
	width: 100vw;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../public/images/202310139313778_1.jpg");

	display: flex;
	flex-direction: column;
	align-items: center;
}

.countdownContainer {
	width: 100vw;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../public/images/202310139313778_1.jpg");

	display: flex;
	flex-direction: column;
	align-items: center;
}

.title,
.date {
	margin: 0;
	color: white;
}

.title {
	margin-top: 2rem;
	font-size: 2rem;
}

.date {
	font-size: 4rem;
}
